# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# emacs back
*~
*#

# nachos binaries
nachos
halt
shell
matmult
coff2noff
TAGS
sort
